.bg-custom {
    background-color: #0e101c; /* Custom background color */
}

.bg-custom .navbar-brand,
.bg-custom .nav-link,
.bg-custom .form-control,
.bg-custom .btn {
    color: #ecf0f1; /* Custom text color for Navbar elements */
}

.bg-custom .nav-link:hover,
.bg-custom .navbar-brand:hover,
.bg-custom .btn:hover {
    color:#f39c12; /* Custom hover color for Navbar elements */
}

.search-button {
    background-color:#60f211; /* Custom background color */
    color: #ecf0f1; /* Custom text color */
    border-color:#60f211; /* Custom border color */
    border-width: 20px;
}

.search-button:hover {
    background-color: #46a832; /* Custom hover background color */
    color: #ffffff; /* Text color on hover */
    border-color: #16a085; /* Border color on hover */
}
