.bg-custom {
    background-color: #0e101c; 
}

.bg-custom .navbar-brand,
.bg-custom .nav-link {
    color: #ecf0f1; 
    transition: color 0.3s ease; 
}

.bg-custom .navbar-brand:hover,
.bg-custom .nav-link:hover {
    color: #f39c12; 
}

.bg-custom .navbar-brand:active,
.bg-custom .nav-link:active {
    color: #ecf0f1; 
}

.search-button:hover {
    background-color: #46a832;
    color: #ffffff; 
    border-color: #16a085; 
}
